CMakeUserPresets.json
.vscode/
.DS_Store
build*/*
build
_build/
_templates/
public/
firebase*.yml
*.out
debug.sh
output.log
output.txt
results/
timing.sh
examples/*/*_config.yaml
tests/regression-tests/*.yaml
tests/regression-tests/*/cpu/*.yaml
tests/regression-tests/*/gpu/*.yaml
tests/unit-tests/error_jacobian/small_jacobian.png
*.mod
*.o
*/OUTPUT_FILES/*
*.gnu
examples/*/Par_File
*OUTPUT_FILES*
*.sqlite
*.nsys-rep
*.ncu-rep
.snakemake/
autotuning/
profiles
.cache/
test*.cpp
test*.hpp
include/specfem_setup.hpp
install
bin


**/__pycache__
