examples/homogeneous-medium-flat-topography/databases/database.bin filter=lfs diff=lfs merge=lfs -text
tests/regression-tests/elastic_domain/cpu/databases/database.bin filter=lfs diff=lfs merge=lfs -text
tests/regression-tests/elastic_domain/gpu/databases/database.bin filter=lfs diff=lfs merge=lfs -text
