name: Build

on:
  push:
    branches:
      - main
      - devel
  pull_request:
    branches:
      - '*' # All branches

jobs:
  build-debug:
    runs-on: ubuntu-latest
    steps:
      - name: Check GNU and Cmake versions
        run: gcc --version && cmake --version
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Configure Serial build
        run: cmake --preset debug
      - name: Build
        run: cmake --build --preset debug -j 2

  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: Check GNU and Cmake versions
        run: gcc --version && cmake --version
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Configure Serial build
        run: cmake --preset release
      - name: Build
        run: cmake --build --preset release -j 2
